<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIKA - Historique</title>
    <link rel="stylesheet" href="../asset/css/history.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="back-button" onclick="goBack()">
            <i class="fas fa-arrow-left"></i>
        </div>
        <h1>Historique des Commandes</h1>
        <div class="empty-div"></div>
    </header>

    <main>
        <div id="orders-container">
            <!-- Les commandes seront affichées ici -->
        </div>
    </main>

    <script>
    function goBack() {
        window.history.back();
    }

    document.addEventListener('DOMContentLoaded', () => {
        fetch('http://localhost:3000/api/commande')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erreur lors de la récupération des commandes');
                }
                return response.json();
            })
            .then(data => {
                const ordersContainer = document.getElementById('orders-container');
                ordersContainer.innerHTML = ''; // Vider le conteneur avant de le remplir

                data.forEach(order => {
                    const orderElement = document.createElement('div');
                    orderElement.classList.add('order-item');
                    orderElement.innerHTML = `
                        <img src="../uploads/${order.plat_image}" alt="${order.plat_nom}">
                        <div class="item-details">
                            <span class="product-name">Commande n°${order.commande_id}</span>
                            <span class="description">Plat: ${order.plat_nom}</span>
                            <span class="quantity">Quantité: ${order.quantite}</span>
                        </div>
                        <span class="price">${order.plat_prix} €</span>
                       <button class="btn-terminer" onclick="CommandeTerminer(${order.commande_id})">
                        <i class="fas fa-check"></i>
                    </button>
                    `;
                    ordersContainer.appendChild(orderElement);
                });
            })
            .catch(error => {
                console.error('Erreur:', error);
                alert('Erreur lors de la récupération des commandes');
            });
    });
    </script>
</body>
</html>