<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Panier</title>
    <link rel="stylesheet" href="../asset/css/order.css">
</head>
<body>
    <h1>Panier</h1>
    <div id="payment">
        <h2>Paiement</h2>
        <p>Visa *1234</p>
    </div>
    <div id="cart">
        <h2>Articles</h2>
        <ul>
            <li>
                <img src="path/to/image1.jpg" alt="Plat 1" class="cart-item-image">
                <div class="item-details">
                    <span>Plat 1</span>
                    <span>Prix: 10.99€</span>
                    <span>Quantité: 01</span>
                </div>
                <button>Retirer</button>
            </li>
            <li>
                <img src="path/to/image2.jpg" alt="Plat 2" class="cart-item-image">
                <div class="item-details">
                    <span>Plat 2</span>
                    <span>Prix: 8.99€</span>
                    <span>Quantité: 01</span>
                </div>
                <button>Retirer</button>
            </li>
            <!-- Ajoutez d'autres plats ici -->
        </ul>
    </div>
    <div id="total">
        <h2>Subtotal (2): 19.98€</h2>
        <h2>Frais de livraison: Gratuit</h2>
        <h2>Taxes: 2.00€</h2>
        <h2>Total: 21.98€</h2>
    </div>
    <button id="checkout">Passer la commande</button>
</body>
</html>
