<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIKA - Profil</title>
    <link rel="stylesheet" href="../asset/css/profile.css">
    <link rel="stylesheet" href="../asset/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>Compte</h1>
    </header>

    <div class="profile-info">
        <div class="profile-icon">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="profile-details">
            <p>Nom: Mousnier</p>
            <p>Prenom: Thierry</p>
        </div>
    </div>

    <div class="menu-items">
        <div class="dropdown">
            <button class="dropbtn">Informations du compte</button>
            <div class="dropdown-content">
                <p>Détails de votre compte ici...</p>
            </div>
        </div>

        <div class="dropdown">
            <a href="../template/history.html" class="historybtn">Historique des commandes</a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Informations de paiement</button>
            <div class="dropdown-content">
                <p>Détails de paiement ici...</p>
            </div>
        </div>
    </div>

    <button class="logout-button">
        Déconnexion
    </button>

    <nav class="bottom-nav">
        <a href="index.html">
            <i class="fas fa-home"></i>
            <span>Accueil</span>
        </a>
        <a href="../template/menu.html">
            <i class="fas fa-utensils"></i>
            <span>Menu</span>
        </a>
        <a href="../template/order.html">
            <i class="fas fa-shopping-cart"></i>
            <span>Panier</span>
        </a>
        <a href="../template/profile.html" class="active">
            <i class="fas fa-user"></i>
            <span>Profil</span>
        </a>
    </nav>

    <script src="../asset/js/profile.js"></script>
    <script src="../asset/js/logout.js"></script>
</body>
</html> 